h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ab000b;
    text-align: center;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ab000b;
}

.gambar {
    text-align: center;
    ;
}